:root {
    /*colors*/
    --color-primary: rgb(229, 9, 20);
    /*sizing*/
    --general-max-width: 1170px;
    /*spacing*/
    --section-tb-padding: 72px;

    /*font*/
    --font-style: 
    --color-divider: #232323;
}