.flex{
    display: flex;
}

.flex.justify-between{
    justify-content: space-between;
}

.flex.flex-column{
    flex-direction: column;
}

.h435 {
    height: 435px;
}

/* CARMELO */

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.txt-start {
    text-align: start;
}

.txt-center {
    text-align: center;
}

.txt-size {
    font-size: 20px;
}