body{
    background-color: black;
}

h3{
    color: white;
}
h2{
    color: white;
}


a{
    color: rgb(131, 128, 128);
}

.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.colonne{
    display: flex;
    justify-content:space space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin: 8px;
    
}

.opzione{
    padding: 20px;
}

#email{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(31, 28, 46);
}
button{
    height: 50px;
    width: 100px;
    background-color:  rgb(229, 9, 20);
    color: white;
}
.bottone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}