<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/template/components/footer.css">
</head>
<body>
   
 <div class="bottone">
    <h2>Vuoi guardare Netflix? Inserisci l'indirizzo email per abbonarti o riattivare il tuo abbonamento</h2>
    <input type="text" id="email" name="email" placeholder="indirizzo email" required/> 
 <button type="submit"><strong>INIZIA ></strong></button>
 </div>
 <div>
   
    <div class="lista">
        
       <div class="colonne">
        <h3 >Domande? Chiama 800-130-364</h3> 
      <a href="">Domande frequenti</a>
      <a href="">Rapporti con gli investitori</a>
      <a href="">Come guardare Netflix</a>
      <a href="">Informazioni sull'azienda</a>
      <a href="">Note legali</a>
      <div class="opzione">
        <select>
            <option placeholder="Italiano">Italiano</option>
            <option>Inglese</option>
        </select>
      </div>
     
      </div>
      <div class="colonne">
      <a href="">Centro assistenza</a>
      <a href="">Oppurtunità di lavoro</a>
      <a href="">Condizioni di utilizzo</a>
      <a href="">Contattaci</a>
      <a href="">Solo su Netflix</a>
      </div>
      <div class="colonne">
      <a href="">Account</a>
      <a href="">Riscatta carta regalo</a>
      <a href="">Privacy</a>
      <a href="">Test di velocità</a>
      <a href="">Preferenze per la pubblicità</a>
      </div>
      <div class="colonne">
      <a href="">Media center</a>
      <a href="">Acquista carte regalo</a>
      <a href="">preferenze per i cookie</a>
      <a href="">Garanzie legali</a>
      </div>
    
    </div> 
 </div>

  
</body>
</html>