<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/template/components/main.css">
</head>
<body>
    <div class="row">
        <div class="row container flex flex-column">
            <div class="row container section">
                <div class="titolo">
                    <h2>Goditi Netflix sulla tua TV</h2>
                    <p>Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple TV, lettori Blu-ray e molti altri dispositivi.</p>
                </div>
                <div class="image">
                    <img src="../assets/tv1.png" alt="tv1">
                </div>
            </div>
            <div class="divider"></div>
            <div class="row container section">
                <div class="image">
                    <img src="../assets/tv2.png" alt="tv2">
                </div>
                <div class="titolo">
                    <h2>Guarda Netflix ovunque</h2>
                    <p>Cellulare, tablet, laptop e TV: scegli tu cosa usare per guardare in streaming film e serie TV senza limiti.</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row container section">
                <div class="titolo">
                    <h2>Crea profili per i bambini</h2>
                    <p>I bambini scoprono nuove avventure in compagnia dei loro personaggi preferiti in uno spazio tutto loro già incluso nel tuo abbonamento.</p>
                </div>
                <div class="image">
                    <img src="../assets/tv3.png" alt="tv3">
                </div>
            </div>
            <div class="divider"></div>
            <div class="row container section">
                <div class="image">
                    <img src="../assets/tv4.jpeg" alt="tv4">
                </div>
                <div class="titolo">
                    <h2>Scarica le tue serie da guardare offline</h2>
                    <p>Guarda in aereo, sul treno, in astronave...</p>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</body>
</html>