<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/template/components/main.css">
</head>

<body>

    <div class="row section">
        <div class="container flex">
            <div class="titolo h435">
                <h2>Goditi Netflix sulla tua TV</h2>
                <p>Guarda Netflix su smart TV, Playstation, Xbox, Chromecast, Apple TV, lettori Blu-ray e molti altri
                    dispositivi.</p>
            </div>
            <div class="image h435">
                <img src="../assets/tv1.png" alt="tv1">
                <video  class="video1" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                    muted autoplay loop></video>
            </div>
        </div>

    </div>

    <div class="divider"></div>

    <div class="row section">
        <div class="container flex">
            <div class="image h435">
                <img src="../assets/tv2.png" alt="tv2">
                <video class="video2" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
                    muted autoplay loop></video>
            </div>
            <div class="titolo 435">
                <h2>Guarda Netflix ovunque</h2>
                <p>Cellulare, tablet, laptop e TV: scegli tu cosa usare per guardare in streaming film e serie TV senza
                    limiti.</p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row section">
        <div class="container flex">
            <div class="titolo h435">
                <h2>Crea profili per i bambini</h2>
                <p>I bambini scoprono nuove avventure in compagnia dei loro personaggi preferiti in uno spazio tutto
                    loro
                    già incluso nel tuo abbonamento.</p>
            </div>
            <div class="image h435">
                <img src="../assets/tv3.png" alt="tv3">
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="row section">
        <div class="container flex">
            <div class="image h435">
                <img src="../assets/tv4.jpeg" alt="tv4">
                <div class="gif">
                    <img class="ultima" src="../assets/boxshot.png" alt="immagine">
                    <div class="testo">
                        <p>Stranger Things</p>
                        <p class="blu">Dowload in corso...</p>
                    </div>
                    <img class="gifs" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="gif_">
                </div>
            </div>
            <div class="titolo h435">
                <h2>Scarica le tue serie da guardare offline</h2>
                <p>Guarda in aereo, sul treno, in astronave...</p>
            </div>
        </div>
    </div>

    <div class="divider"></div>


</body>

</html>